.pinkAndBig {
    color: hotpink !important;
    font-size: 32px !important;
}

.gutter {
    text-align: center;
    border: 1px solid black;
}

.gutter:nth-child(odd) {
    background: rgba(0, 146, 255, 0.75);
}

.gutter:nth-child(even) {
    background: rgb(0, 146, 255);
}